body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00BFFF, #FFD700);
    text-align: center;
    padding: 50px;
    color: #003366;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    color: #003366;
}
p {
    font-size: 18px;
    margin: 5px 0;
}
.contact {
    margin-top: 20px;
    font-weight: bold;
}
